
html { margin: 1% 0 0 0;}

body {}


.header-1{
    display: inline-flex;
    flex-wrap: nowrap; 
} 

.header-1 img{
    display: block;
    height: 6vh;
    padding-left: 4%;
}

.header-1 h1{
    padding-left: 6%;
    font-size: 0.9rem;
    align-self: center;
}

.h-img {
    display: flex;
    flex-wrap: wrap;
    /*background-image: url("../images/bg-top-pic.png");*/
    background-image: url("../images/bg-elcentro2.png");
    /*background-image: url("../images/bg-elcentro3.png");*/
    background-size: cover;
    height: 80vh; 
}

.lab-name{
    color: white;
    /*text-align: right;*/
    font-size:2rem;
    padding-left: 3%;
    padding-top: 3%;
    text-align: left;
    text-transform: uppercase;   
}

.nav-text{
    font-size: 0.9rem;
    padding: 1% 0;
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    align-self: flex-end;
}





/***************** main {} *********************/


 .section-divider{
    box-sizing: border-box;
    border-top: 2px #12aab04a solid;
    margin-top: 2rem;
    margin-bottom: 2rem;
    }

section{
    box-sizing: border-box;
    }

section>a{
    color: #20b2aa;
}

h2 {
    color: #f3a70a;
    /*background-color: rgba(255, 255, 255, 0.34);*/
    padding: 2% 0;
    margin: 3% 0 0 0;
    text-align: center;
    text-transform: uppercase;
}

/*.profil-pic{
    width: 60px;
}*/

h3 {color : #6c95ea; margin: 3% 0;}



/*.card-projects{
    box-sizing: border-box;
    border:3px solid gray;
    border-radius: 5px
}*/


#members>div>div>div{
    margin: 2% 0 0 0;
}

.active-members h4{
color:gray;
font-size: 1rem;
margin: 0;
}
.active-members span{
 font-size: 0.8rem;   
 color:gray;
}

.past-members h4{
color:#ebbb62;
font-size: 1rem;
margin: 0;
}
.past-members span{
 font-size: 0.8rem;   
 color:#ebbb62;
}
p, p~ol>li {
    font-size: 0.8rem;
    color: #3F3F56;} 

.r-panel{
    position: absolute;
    z-index: 101;
}

footer { background-color : #003d46;
min-height: 40vh;}
footer a , footer span{
    color:  rgba(253, 184, 19,0.8);
    font-variant: small-caps ;
}
footer a:hover{
    color:  rgba(253, 184, 19,1);
    /*background-color: gray;*/
}
footer div>span:first-child{
color:rgba(255,255,255,0.9); display: block;}
footer div> :nth-child(3){
   color: rgba(253, 184, 19,0.8);}

footer img {
    width: 100%;
}


.copyrights{
    /*content: "Designed and developed by Marianela Crissman";*/
    padding-top: 2%;
    padding-bottom: 1%;
    color: #fdb813;
    background-color: #0a0e13;
    font-variant-caps: small-caps;
    text-align: center;
    font-size: 0.8em;
}



* {
    box-sizing: border-box;
}