 <p>The main goal is to develop and empower students’ growth and skills in the area of computer network, systems, and network security.  We have three main objectives:
               <ol>
                  <li>Adapt and apply the Affinity Research Group model towards establishing the foundations for collaborative research and learning groups between students, faculty, and industrial partners,</li>
                  <li>Provide access to infrastructure, tools, and software necessary to do research and teach creative applications of network systems protocols and technologies, and</li>
                  <li>Support the analysis, development, and evaluation of network security applications and technologies in the STEM field.</li>
               </ol>
             </p>