          <div class=" row justify-content-around align-items-center">


          	<div class="col-sm col-md-3 ">
          		
          		<br/>
          		<img src="images/cahsilogo1.png" />
          		<br />
          	</div>

          	<div class="col-sm col-md-7 text-center">
          		<span>Location</span>
          		<br/>
          		<span class="neiu-address">
          		<a href="https://goo.gl/maps/iTkoioEzkNL2">3390 N Avondale Ave,<br/>Room 207<br/> Chicago, IL 60618</a></span>
          		<br />
          	
          		<span><tel>(773) 442-4080</tel></span>
          		<br/>
          		<span>gperera at neiu dot edu</span>
          	</div>


            <div class="col-sm col-md-2 text-center">
          		
          		<br/>
          		<img src="images/NEIU_seal.png" />
          		<br />
          		<span><a href="http://www.neiu.edu/">Northeastern Illinois University</a></span>
          	</div>

          </div>


       

