
                    <h3 class="col-12">Current Members</h3>

                    <div class="media col-sm-6 col-md-4">
                         <div class="active-members media-body">
                         <h4><a href="Bio-GracielaPerera-2018.pdf" target="_blank">Dr. Graciela Perera</a></h4>
                        <span>FACULTY</span>
                       </div>
                    </div>
                    <div class=" col-sm-6 col-md-4">
                       <div class="active-members ">
                         <h4>Marianela Crissman</h4>
                         <span>GRAD STUDENT</span>
                       </div>
                      </div>
                      <div class="media col-sm-6 col-md-4">
                       <div class="active-members media-body">
                         <h4>Beth McDonald</h4>
                         <span>GRAD STUDENT</span>
                       </div>
                    </div>
      
                    <div class="media col-sm-6 col-md-4">
                      <div class="active-members media-body">
                        <h4>Joseph Kwon</h4>
                        <span>UNDERGRAD STUDENT</span>
                      </div>
                    </div>
                    <div class="media col-sm-6 col-md-4"> 
                        <div class="active-members media-body">
                          <h4>Erik Macias</h4>
                          <span>UNDERGRAD STUDENT</span>
                        </div>
                    </div>
                    <div class="media col-sm-6 col-md-4"> 
                      <div class="active-members media-body">
                        <h4>Carolina Vazquez</h4>
                        <span>UNDERGRAD STUDENT</span>
                      </div>
                    </div>
                   <div class="media col-sm-6 col-md-4"> 
                    <div class="active-members media-body">
                      <h4>Rudy Pichola</h4>
                      <span>UNDERGRAD STUDENT</span>
                    </div>
                   </div>

                   <div class="media col-sm-6 col-md-4">
                       <div class="active-members media-body">
                         <h4>Ambrasia Warner</h4>
                         <span>UNDERGRAD STUDENT</span>
                       </div>
                   </div>
                   <div class="media col-sm-6 col-md-4"> 
                       <div class="active-members media-body">
                         <h4>Aleksei Aguirre</h4>
                         <span>UNDERGRAD STUDENT</span>
                       </div>
                 </div>
                 <div class="media col-sm-6 col-md-4"> 
                       <div class="active-members media-body">
                         <h4>Elvis Rosario</h4>
                         <span>UNDERGRAD STUDENT</span>
                       </div>
                 </div>
                    <div class="media col-sm-6 col-md-4"> 
                        <div class="active-members media-body">
                          <h4>Rudy Pichola</h4>
                          <span>UNDERGRAD STUDENT</span>
                        </div>
                    </div>
                 <div class="media col-sm-6 col-md-4">
                      <div class="active-members media-body">
                        <h4>John Crissman</h4>
                        <span>GRAD STUDENT</span>
                      </div>
                 </div>
                 <div class="media col-sm-6 col-md-4">
                       <div class="active-members media-body">
                         <h4>Anali Negrete</h4>
                         <span>GRAD STUDENT</span>
                       </div>
                 </div>
                 <div class="media col-sm-6 col-md-4" hidden>
                       <div class="active-members media-body">
                         <h4>{name} {lastname}</h4>
                         <span>{GRAD or UNDERGRAD STUDENT}</span>
                       </div>
                 </div>


           <!-- <div class="container">
               <div class="row"> -->
                   <h3 class="col-12">Past Members</h3>
                   <div class="media col-sm-6 col-md-4">
                       <div class="past-members media-body">
                         <h4>Charla Earls</h4>
                         <span>UNDERGRAD STUDENT</span>
                       </div>
                   </div>
                   <div class="media col-sm-6 col-md-4">
                       <div class="past-members media-body">
                          <h4>J.R. Campos</h4>
                          <span>UNDERGRAD STUDENT</span>
                        </div>
                   </div>
                   <div class="media col-sm-6 col-md-4">
                       <div class="past-members media-body">
                          <h4>Michael Abreu</h4>
                          <span>UNDERGRAD STUDENT</span>
                        </div>
                   </div>
                   <div class="media col-sm-6 col-md-4"> 
                       <div class="past-members media-body">
                          <h4>Sebastian Cervera</h4>
                          <span>UNDERGRAD STUDENT</span>
                       </div>
                   </div>