          

          <div class="header-1">
            <img src="images/neiu_logo.png" alt="NSAppLabLogo" />
            <h1>Northeastern Illinois University</h1>
          </div>
          <div>
            <nav class="nav-text">
              <ul class="nav justify-content-around">
                <li><a href="#about">About</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#members">Collaborators</a></li>
                <!-- <li><a href="#publications">Publications</a></li> -->
                <!-- <li><a href="#news">News</a></li> -->
                <li><a href="#contact">Contact us</a></li>
              </ul>
            </nav>
          </div>
          <div class="h-img">
            
            <h1 class="lab-name">Network Security &amp; Applications Laboratory </h1>
            
          </div>